@import "tailwindcss";
@theme{
    --color-brand-primary: #1e1e1e;
    --color-brand-50: #F5F5F5;
    --color-brand-100: #E0E0E0;
    --color-brand-200:#C2C2C2;
    --color-brand-300:#A3A3A3;
    --color-brand-400:#858585;
    --color-brand-500:#666666;
    --color-brand-600:#4A4A4A;
    --color-brand-700:#333333;
    --color-brand-900:#1E1E1E;

    --color-accent-primary: #ffc107;
    --color-accent-50: #fff8e1;
    --color-accent-100: #ffecb3;
    --color-accent-200: #ffe082;
    --color-accent-300: #ffd54f;
    --color-accent-400: #ffca28;
    --color-accent-600: #ffb300;
    --color-accent-700: #ffa000;
    --color-accent-800: #ff8f00;
    --color-accent-900: #ff6f00;

    --color-neutral-light: #f9fafb;
    --color-neutral-border: #e5e7eb;
    --color-while: #ffffff;
    --color-sucess: #10b981;
    --color-warning: #fbbf24;
    --color-error: #ef4444;
    --color-info: #3b82f6;
}